<?xml version="1.0"?>
<!--
/**
 * Content Widgets
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright Copyright (c) 2021 August Ash (https://www.augustash.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="content-widget-imagefix" type="Augustash\ContentWidgets\Plugin\FixImageChooserUrlPlugin" sortOrder="10" disabled="false"/>
        <plugin name="content-widget-escape-quotes" type="Augustash\ContentWidgets\Plugin\EscapeQuotesPlugin" sortOrder="20" disabled="false"/>
    </type>

    <!-- CALLOUTS -->
    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\Category" type="Augustash\ContentWidgets\Block\Widget\Callout\Link">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\Product" type="Augustash\ContentWidgets\Block\Widget\Callout\Link">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\CustomCalloutOptionalLink" type="Augustash\ContentWidgets\Block\Widget\Callout\Custom">
        <arguments>
            <argument name="entityResource" xsi:type="object">null</argument>
        </arguments>
    </virtualType>
    <!-- /CALLOUTS -->

    <!-- PROMOTIONS -->
    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\CategoryPromotion" type="Augustash\ContentWidgets\Block\Widget\Callout\Promotion">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\ProductPromotion" type="Augustash\ContentWidgets\Block\Widget\Callout\Promotion">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\CustomPromotion" type="Augustash\ContentWidgets\Block\Widget\Callout\Promotion">
        <arguments>
            <argument name="entityResource" xsi:type="object">null</argument>
        </arguments>
    </virtualType>
    <virtualType name="Augustash\ContentWidgets\Block\Widget\Callout\MiniCustomPromotion" type="Augustash\ContentWidgets\Block\Widget\Callout\MiniPromotion">
        <arguments>
            <argument name="entityResource" xsi:type="object">null</argument>
        </arguments>
    </virtualType>
    <!-- /PROMOTIONS -->

    <!-- BANNERS -->
    <virtualType name="Augustash\ContentWidgets\Block\Widget\Banner\Category" type="Augustash\ContentWidgets\Block\Widget\Callout\Banner">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Banner\Product" type="Augustash\ContentWidgets\Block\Widget\Callout\Banner">
        <arguments>
            <argument name="entityResource" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>

    <virtualType name="Augustash\ContentWidgets\Block\Widget\Banner\CustomBanner" type="Augustash\ContentWidgets\Block\Widget\Callout\Banner">
        <arguments>
            <argument name="entityResource" xsi:type="object">null</argument>
        </arguments>
    </virtualType>
    <!-- /BANNERS -->
</config>
